@charset "UTF-8";

article{
  width: 100%;
  display: flex;
  margin: 10px;/*上下左右外余白10px*/
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.side{
  width: 15%;
}
.content{
  width: 85%;
  margin: 0 10px;/*外枠上下間隔を0、左右を10px*/
  padding: 0px 10px;/*上下内余白0px,左右10px*/
  border:2px solid;/*外枠2px*/
  border-radius: 3%;/*角を丸める*/
}
/*サイドバーの書式設定===================*/
.PortfolioH{
  margin: 0 2px;/*外枠上下間隔を0、左右を2px*/
  padding: 5px 2px;/*上下内余白5px,左右2px*/
  background-color: #ffcc99;
  border:2px solid;/*外枠2px*/
  border-color: #ff9900;
}
.PortfolioLi{
  margin: 0 2px;/*外枠上下間隔を0、左右を2px*/
  padding: 5px 2px;/*上下内余白5px,左右2px*/
  border:2px solid;/*外枠2px*/
  border-color: #ff9900;
  list-style:none ;
}
.profileH{
  margin: 0 2px;/*外枠上下間隔を0、左右を2px*/
  padding: 5px 2px;/*上下内余白5px,左右2px*/
  background-color: #ccff99;
  border:2px solid;/*外枠2px*/
  border-color: #00ff66;
}
.profileLi{
  margin: 0 2px;/*外枠上下間隔を0、左右を2px*/
  padding: 5px 2px;/*上下内余白5px,左右2px*/
  border:2px solid;/*外枠2px*/
  border-color: #00ff66;
  list-style:none ;
}
.ProductsH{
  margin: 0 2px;/*外枠上下間隔を0、左右を2px*/
  padding: 5px 2px;/*上下内余白5px,左右2px*/
  background-color: #ccffff;
  border:2px solid;/*外枠2px*/
  border-color: #99ccff;
}
.ProductsLi{
  margin: 0 2px;/*外枠上下間隔を0、左右を2px*/
  padding: 5px 2px;/*上下内余白5px,左右2px*/
  border:2px solid;/*外枠2px*/
  border-color: #99ccff;
  list-style:none ;
}

/*メインコンテンツの書式設定===================*/
.box2{
  display: flex;
  flex-direction: row-reverse;
}
.box{
  display: flex;
  flex-direction: row;
}
.box-txt3{
  text-align: center;
}
.box_image3{
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;/*上下内余白0px,左右300px*/
}
.box-content{
  background-color:  #B1F9D0;
  border-radius: 5px;
  width: 650px;
  height: 230px;
  font-size: 13px;
}
.box-content2{
  background-color: #FFBEDA;
  border-radius: 5px;
  width: 650px;
  height: 230px;
  font-size: 18px;

}
.box-content3{
  background-color: #C2EEFF;
  border-radius: 5px;
  font-size: 13px;
  text-align: left;
}
.content h2{
  text-decoration:underline;
}
  /*フッター
  ========================================*/
  footer{
    /*テキスト右揃え*/
    text-align:right;
}